# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df =pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,WeatherPy_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Albany,US,42.6001,-73.9662,49.41,78,100,1.88,overcast clouds
1,1,Severo-Kurilsk,RU,50.6789,156.1250,53.46,72,98,15.28,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,71.35,66,100,19.53,overcast clouds
3,3,San Luis,AR,-33.2950,-66.3356,68.11,31,1,12.68,clear sky
4,4,Puerto Ayora,EC,-0.7393,-90.3518,65.55,94,41,4.00,scattered clouds
5,5,Bengkulu,ID,-3.8004,102.2655,77.76,86,100,3.20,overcast clouds
6,6,Kyren,RU,51.6828,102.1408,30.85,51,67,0.83,broken clouds
7,7,Meadow Lake,US,34.8014,-106.5436,68.11,84,56,12.55,light rain
8,8,Port-Gentil,GA,-0.7193,8.7815,77.50,83,100,11.48,overcast clouds
9,9,Vaini,TO,-21.2000,-175.2000,82.56,69,75,14.97,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]                                    
# Display sample data
preferred_cities_df.head(10)

,WeatherPy_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Rikitea,PF,-23.1203,-134.9692,71.35,66,100,19.53,overcast clouds
5,5,Bengkulu,ID,-3.8004,102.2655,77.76,86,100,3.20,overcast clouds
8,8,Port-Gentil,GA,-0.7193,8.7815,77.50,83,100,11.48,overcast clouds
9,9,Vaini,TO,-21.2000,-175.2000,82.56,69,75,14.97,broken clouds
12,12,Hithadhoo,MV,-0.6000,73.0833,81.97,69,100,16.67,overcast clouds
13,13,Catuday,PH,16.2923,119.8062,82.29,74,60,6.26,broken clouds
16,16,Tabas,IR,33.5959,56.9244,70.02,24,0,4.61,clear sky
19,19,Dakar,SN,14.6937,-17.4441,81.48,73,86,9.60,light rain
21,21,Kapaa,US,22.0752,-159.3190,84.18,68,0,14.97,clear sky
22,22,Kintampo,GH,8.0563,-1.7306,72.30,92,14,3.40,few clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities_df = preferred_cities_df.dropna(axis="index", how="any")
print(len(clean_travel_cities_df))

# Display sample data
clean_travel_cities_df.head()

297

,WeatherPy_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Rikitea,PF,-23.1203,-134.9692,71.35,66,100,19.53,overcast clouds
5,5,Bengkulu,ID,-3.8004,102.2655,77.76,86,100,3.20,overcast clouds
8,8,Port-Gentil,GA,-0.7193,8.7815,77.50,83,100,11.48,overcast clouds
9,9,Vaini,TO,-21.2000,-175.2000,82.56,69,75,14.97,broken clouds
12,12,Hithadhoo,MV,-0.6000,73.0833,81.97,69,100,16.67,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

           City Country  Max Temp Current Description      Lat       Lng
2       Rikitea      PF     71.35     overcast clouds -23.1203 -134.9692
5      Bengkulu      ID     77.76     overcast clouds  -3.8004  102.2655
8   Port-Gentil      GA     77.50     overcast clouds  -0.7193    8.7815
9         Vaini      TO     82.56       broken clouds -21.2000 -175.2000
12    Hithadhoo      MV     81.97     overcast clouds  -0.6000   73.0833
13      Catuday      PH     82.29       broken clouds  16.2923  119.8062
16        Tabas      IR     70.02           clear sky  33.5959   56.9244
19        Dakar      SN     81.48          light rain  14.6937  -17.4441
21        Kapaa      US     84.18           clear sky  22.0752 -159.3190
22     Kintampo      GH     72.30          few clouds   8.0563   -1.7306

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Rikitea,PF,71.35,overcast clouds,-23.1203,-134.9692,
5,Bengkulu,ID,77.76,overcast clouds,-3.8004,102.2655,
8,Port-Gentil,GA,77.50,overcast clouds,-0.7193,8.7815,
9,Vaini,TO,82.56,broken clouds,-21.2000,-175.2000,
12,Hithadhoo,MV,81.97,overcast clouds,-0.6000,73.0833,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Rikitea,PF,71.35,overcast clouds,-23.1203,-134.9692,People ThankYou
5,Bengkulu,ID,77.76,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
8,Port-Gentil,GA,77.50,overcast clouds,-0.7193,8.7815,Fengshui Residence
9,Vaini,TO,82.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
12,Hithadhoo,MV,81.97,overcast clouds,-0.6000,73.0833,Scoop Guest House

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Rikitea,PF,71.35,overcast clouds,-23.1203,-134.9692,People ThankYou
5,Bengkulu,ID,77.76,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
8,Port-Gentil,GA,77.50,overcast clouds,-0.7193,8.7815,Fengshui Residence
9,Vaini,TO,82.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
12,Hithadhoo,MV,81.97,overcast clouds,-0.6000,73.0833,Scoop Guest House
13,Catuday,PH,82.29,broken clouds,16.2923,119.8062,Benjie's Kubo & Cottages
16,Tabas,IR,70.02,clear sky,33.5959,56.9244,شرکت معماری مهراز شایگان آراد
19,Dakar,SN,81.48,light rain,14.6937,-17.4441,Novotel Dakar
21,Kapaa,US,84.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
22,Kintampo,GH,72.30,few clouds,8.0563,-1.7306,Adomaa Memorial Hotel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv" 

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [19]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 71.35 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grage Hotel Bengkulu</dd>\n<dt>City</dt><dd>Bengkulu</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.76 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Fengshui Residence</dd>\n<dt>City</dt><dd>Port-Gentil</dd>\n<dt>Country</dt><dd>GA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.5 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 82.56 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.97 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Benjie's Kubo & Cottages</dd>\n<dt>City</dt><dd>Catuday</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>broken clouds and 82.29 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>شرکت معماری مهراز شایگان آراد</dd>\n<dt>City</dt><dd>Tabas</dd>\n<dt>Country</dt><dd>IR</dd>\n<dt>Current Weather</dt><dd>clear sky and 70.02 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Novotel Dakar</dd>\n<dt>City</dt><dd>Dakar</dd>\n<dt>Country</dt><dd>SN</dd>\n<dt>Current Weather</dt><dd>light rain and 81.48 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 84.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Adomaa Memorial Hotel</dd>\n<dt>City</dt><dd>Kintampo</dd>\n<dt>Country</dt><dd>GH</dd>\n<dt>Current Weather</dt><dd>few clouds and 72.3 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [20]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
2  -23.1203 -134.9692
5   -3.8004  102.2655
8   -0.7193    8.7815
9  -21.2000 -175.2000
12  -0.6000   73.0833
13  16.2923  119.8062
16  33.5959   56.9244
19  14.6937  -17.4441
21  22.0752 -159.3190
22   8.0563   -1.7306

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [23]:
# Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))